{
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-curly-brace-presence": ["always"],
    "arrow-body-style": "off"
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser",
  "extends": ["@babel/core"]
}
