{
  settings: {
    'import/resolver': webpack
  },
  extends: "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-brace-presence": ['always'],
    "arrow-body-style": off,
  }
}